html, body{
    height: 100%;
    margin: 0px;
    background-color: #B7D3E8
}
.base{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    padding-bottom: 92px;
    padding-left: 150px;
}